{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2021-12-01",
    "endpointPrefix": "verifiedpermissions",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Verified Permissions",
    "serviceId": "Verified Permissions",
    "signatureVersion": "v4",
    "signingName": "verifiedpermissions",
    "uid": "verified-permissions-2021-12-01"
  },
  "operations": {
    "CreatePolicy": {
      "http": {
        "requestUri": "/policy-stores/{PolicyStoreIdentifier}/policies",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PolicyDefinition",
          "PolicyStoreIdentifier"
        ],
        "members": {
          "ClientToken": {
            "idempotencyToken": true
          },
          "PolicyDefinition": {
            "type": "structure",
            "members": {
              "InlinePolicy": {
                "type": "structure",
                "required": [
                  "PolicyBody"
                ],
                "members": {
                  "Description": {},
                  "PolicyBody": {}
                }
              }
            },
            "union": true
          },
          "PolicyStoreIdentifier": {
            "location": "uri",
            "locationName": "PolicyStoreIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Arn",
          "CreatedDate",
          "LastUpdatedDate",
          "PolicyId",
          "PolicyStoreId",
          "PolicyType"
        ],
        "members": {
          "Arn": {},
          "CreatedDate": {
            "shape": "Sa"
          },
          "LastUpdatedDate": {
            "shape": "Sa"
          },
          "PolicyId": {},
          "PolicyStoreId": {},
          "PolicyType": {},
          "Principal": {
            "shape": "Sd"
          },
          "Resource": {
            "shape": "Sd"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "admin-"
      },
      "idempotent": true
    },
    "CreatePolicyStore": {
      "http": {
        "requestUri": "/policy-stores",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "ClientToken": {
            "idempotencyToken": true
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Arn",
          "CreatedDate",
          "PolicyStoreId"
        ],
        "members": {
          "Arn": {},
          "CreatedDate": {
            "shape": "Sa"
          },
          "PolicyStoreId": {}
        }
      },
      "endpoint": {
        "hostPrefix": "admin-"
      },
      "idempotent": true
    },
    "DeletePolicy": {
      "http": {
        "method": "DELETE",
        "requestUri": "/policy-stores/{PolicyStoreIdentifier}/policies/{PolicyIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PolicyIdentifier",
          "PolicyStoreIdentifier"
        ],
        "members": {
          "PolicyIdentifier": {
            "location": "uri",
            "locationName": "PolicyIdentifier"
          },
          "PolicyStoreIdentifier": {
            "location": "uri",
            "locationName": "PolicyStoreIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "admin-"
      },
      "idempotent": true
    },
    "DeletePolicyStore": {
      "http": {
        "method": "DELETE",
        "requestUri": "/policy-stores/{PolicyStoreIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PolicyStoreIdentifier"
        ],
        "members": {
          "PolicyStoreIdentifier": {
            "location": "uri",
            "locationName": "PolicyStoreIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {}
      },
      "endpoint": {
        "hostPrefix": "admin-"
      },
      "idempotent": true
    },
    "GetPolicy": {
      "http": {
        "method": "GET",
        "requestUri": "/policy-stores/{PolicyStoreIdentifier}/policies/{PolicyIdentifier}",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PolicyIdentifier",
          "PolicyStoreIdentifier"
        ],
        "members": {
          "PolicyIdentifier": {
            "location": "uri",
            "locationName": "PolicyIdentifier"
          },
          "PolicyStoreIdentifier": {
            "location": "uri",
            "locationName": "PolicyStoreIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Arn",
          "CreatedDate",
          "LastUpdatedDate",
          "PolicyDefinition",
          "PolicyId",
          "PolicyStoreId",
          "PolicyType"
        ],
        "members": {
          "Arn": {},
          "CreatedDate": {
            "shape": "Sa"
          },
          "LastUpdatedDate": {
            "shape": "Sa"
          },
          "PolicyDefinition": {
            "type": "structure",
            "members": {
              "InlinePolicy": {
                "type": "structure",
                "required": [
                  "PolicyBody"
                ],
                "members": {
                  "Description": {},
                  "PolicyBody": {}
                }
              }
            },
            "union": true
          },
          "PolicyId": {},
          "PolicyStoreId": {},
          "PolicyType": {},
          "Principal": {
            "shape": "Sd"
          },
          "Resource": {
            "shape": "Sd"
          }
        }
      },
      "endpoint": {
        "hostPrefix": "admin-"
      }
    },
    "IsAuthorized": {
      "http": {
        "requestUri": "/policy-stores/{PolicyStoreIdentifier}/is-authorized",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PolicyStoreIdentifier"
        ],
        "members": {
          "Action": {
            "type": "structure",
            "required": [
              "ActionId",
              "ActionType"
            ],
            "members": {
              "ActionId": {},
              "ActionType": {}
            }
          },
          "Context": {
            "type": "map",
            "key": {},
            "value": {
              "shape": "Sw"
            }
          },
          "PolicyStoreIdentifier": {
            "location": "uri",
            "locationName": "PolicyStoreIdentifier"
          },
          "Principal": {
            "shape": "Sd"
          },
          "Resource": {
            "shape": "Sd"
          },
          "SliceComplement": {
            "type": "structure",
            "members": {
              "Entities": {
                "type": "list",
                "member": {
                  "type": "structure",
                  "required": [
                    "Identifier"
                  ],
                  "members": {
                    "Attributes": {
                      "type": "map",
                      "key": {},
                      "value": {
                        "shape": "Sw"
                      }
                    },
                    "Identifier": {
                      "shape": "Sd"
                    },
                    "Parents": {
                      "type": "list",
                      "member": {
                        "shape": "Sd"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "output": {
        "type": "structure",
        "members": {
          "Decision": {},
          "DeterminingPolicies": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "DeterminingPolicyIdentifier": {}
              }
            }
          },
          "Errors": {
            "type": "list",
            "member": {
              "type": "structure",
              "members": {
                "ErrorDescription": {}
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "authz-"
      },
      "idempotent": true
    },
    "ListPolicies": {
      "http": {
        "requestUri": "/list/policy-stores/{PolicyStoreIdentifier}/policies",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "required": [
          "PolicyStoreIdentifier"
        ],
        "members": {
          "Filter": {
            "type": "structure",
            "members": {
              "Principal": {
                "shape": "S1f"
              },
              "Resource": {
                "shape": "S1f"
              }
            }
          },
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {},
          "PolicyStoreIdentifier": {
            "location": "uri",
            "locationName": "PolicyStoreIdentifier"
          }
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "Policies"
        ],
        "members": {
          "NextToken": {},
          "Policies": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Arn",
                "CreatedDate",
                "LastUpdatedDate",
                "PolicyDefinition",
                "PolicyId",
                "PolicyStoreId",
                "PolicyType"
              ],
              "members": {
                "Arn": {},
                "CreatedDate": {
                  "shape": "Sa"
                },
                "LastUpdatedDate": {
                  "shape": "Sa"
                },
                "PolicyDefinition": {
                  "type": "structure",
                  "members": {
                    "InlinePolicy": {
                      "type": "structure",
                      "members": {
                        "Description": {}
                      }
                    }
                  },
                  "union": true
                },
                "PolicyId": {},
                "PolicyStoreId": {},
                "PolicyType": {},
                "Principal": {
                  "shape": "Sd"
                },
                "Resource": {
                  "shape": "Sd"
                }
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "admin-"
      }
    },
    "ListPolicyStores": {
      "http": {
        "requestUri": "/list/policy-stores",
        "responseCode": 200
      },
      "input": {
        "type": "structure",
        "members": {
          "MaxResults": {
            "type": "integer"
          },
          "NextToken": {}
        }
      },
      "output": {
        "type": "structure",
        "required": [
          "PolicyStores"
        ],
        "members": {
          "NextToken": {},
          "PolicyStores": {
            "type": "list",
            "member": {
              "type": "structure",
              "required": [
                "Arn",
                "CreatedDate",
                "PolicyStoreId"
              ],
              "members": {
                "Arn": {},
                "CreatedDate": {
                  "shape": "Sa"
                },
                "PolicyStoreId": {}
              }
            }
          }
        }
      },
      "endpoint": {
        "hostPrefix": "admin-"
      }
    }
  },
  "shapes": {
    "Sa": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "Sd": {
      "type": "structure",
      "required": [
        "EntityId",
        "EntityType"
      ],
      "members": {
        "EntityId": {},
        "EntityType": {}
      }
    },
    "Sw": {
      "type": "structure",
      "members": {
        "Boolean": {
          "type": "boolean"
        },
        "EntityIdentifier": {
          "shape": "Sd"
        },
        "Long": {
          "type": "long"
        },
        "Record": {
          "type": "map",
          "key": {},
          "value": {
            "shape": "Sw"
          }
        },
        "Set": {
          "type": "list",
          "member": {
            "shape": "Sw"
          }
        },
        "String": {}
      },
      "union": true
    },
    "S1f": {
      "type": "structure",
      "members": {
        "Identifier": {
          "shape": "Sd"
        },
        "Unspecified": {
          "type": "boolean"
        }
      },
      "union": true
    }
  }
}